<!doctype html>
<html>
<head>
    <title>Burrito Petition</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
</head>
<body>
    {{> menu}}

    <div id="body-container">
        {{{body}}}
    </div>

    <script type="text/javascript" src="/script.js"></script>
</body>
</html>
