<h1 id="petition-title">Sign our petition to classify the burrito as a public good in the UNESCO 'World Patrimony of the Humanity'</h1>
<div class="head">
    {{> gif}}
    <p id="declaration"><em>I, {{firstName}} {{lastName}}, want a world with free burritos for everybody.</em></p>
    {{> form}}
    <button id="erase-signature" type="delete-signature" name="button">Erase my signature!</button>
</div>
