<h1>Now please tell us just a little bit more about yourself.</h1>
<form class="register-form" method="post">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <div class="register">

        <label>
            <input type="text" name="age" value="">
            <p>Age</p>
        </label>
        <label>
            <input type="text" name="city" value="">
            <p>City</p>
        </label>
        <label>
            <input type="url" name="homepage" value="">
            <p>Homepage</p>
        </label>
        <button id="button" type="submit">Continue</button>
    </div>

</form>
